.button {
    background: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;

    &_theme-switch {
        position: relative;
        width: 3rem;
        height: 1.5rem;
        background-image: var(--url-theme-switch-bg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 0 0 2px var(--clr-main);
        transition: all 0.2s ease;
    }

    &_sound-switch {
        --size: 2rem;
        padding: 0.1rem;
        width: var(--size);
        height: var(--size);
        background-color: var(--clr-white);

        &:hover,
        &:focus-visible {
            background-color: var(--clr-bg-hover);
        }
    }

    &_play {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;

        &:focus-visible {
            img {
                transform: scale(1.1);
            }
        }

        & > img {
            &:hover,
            &:focus-visible {
                transform: scale(1.1);
            }
        }
    }
}