@mixin animalMixin {
    background-repeat: no-repeat;
    background-position: center;
}

.color {
    --radius-size: 4rem;

    &_cyan {
        border-top-left-radius: var(--radius-size);
        // background-color: var(--clr-cyan);
        background: var(--clr-cyan) var(--url-fox);
        background-size: var(--radius-size);
    }

    &_red {
        border-top-right-radius: var(--radius-size);
        background: var(--clr-red) var(--url-frog);
        background-size: calc(var(--radius-size) + 0.5rem);
    }

    &_magenta {
        border-bottom-left-radius: var(--radius-size);
        background: var(--clr-magenta) var(--url-duck);
        background-size: calc(var(--radius-size) + 1rem);
    }

    &_blue {
        border-bottom-right-radius: var(--radius-size);
        background: var(--clr-blue) var(--url-dog);
        background-size: calc(var(--radius-size) + 2rem);
    }

    &_cyan,
    &_red,
    &_magenta,
    &_blue {
        @include animalMixin;
    }

    &:hover,
    &:focus-visible {
        cursor: pointer;
        box-shadow: 0 0 0.5rem var(--clr-main);
    }
}