.footer {
    padding-block: 1rem;
    border-block-start: 1px solid var(--clr-bg-hover);
    text-align: center;

    &__link {
        position: relative;
        font-size: 1.2rem;
        text-decoration: none;
        color: var(--clr-bg-hover);

        &:hover,
        &:focus-visible {
            color: var(--clr-main);
        }
    }
}