:root {
    --url-bg: url("../../../public/assets/images/bg.png");
    --url-theme-switch-bg: var(--url-light-sky);
    --url-theme-switch-icon: var(--url-sun);
    --url-light-sky: url("../../../public/assets/icons/light-sky.png");
    --url-dark-sky: url("../../../public/assets/icons/dark-sky.png");
    --url-sun: url("../../../public/assets/icons/sun.png");
    --url-moon: url("../../../public/assets/icons/moon.png");
    --url-fox: url("../../../public/assets/images/fox.png");
    --url-frog: url("../../../public/assets/images/frog.png");
    --url-duck: url("../../../public/assets/images/duck.png");
    --url-penguin: url("../../../public/assets/images/penguin.png");

    --ff: var(--ff-main) var(--ff-secondary) var(--ff-base);
    --ff-main: 'Quicksand';
    --ff-secondary: Verdana;
    --ff-base: sans-serif;

    --clr-bg: var(--clr-white);
    --clr-bg-hover: var(--clr-gray);
    --clr-bg-contrast: var(--clr-white);
    --clr-main: var(--clr-black);

    // dark theme
    // --clr-bg: var(--clr-black);
    // --clr-bg-hover: var(--clr-dark-hover);
    // --clr-bg-contrast: var(--clr-darkviolet);
    // --clr-main: var(--clr-white);
    // --url-theme-switch-bg: var(--url-dark-sky);
    // --url-theme-switch-icon: var(--url-moon);
    //

    --clr-white: #fff;
    --clr-gray: #888787;
    --clr-black: #000;
    --clr-dark-hover: #4e3870;
    --clr-cyan: #1ed7c0;
    --clr-blue: #4b7def;
    --clr-magenta: #b04fbd;
    --clr-darkviolet: #7466af;
    --clr-red: #bf476f;
    --clr-yellow: #faef56;
    --clr-blue-dark: #fff;
}