:root {
    --bg-url: url("../../../public/assets/images/bg.png");

    --ff: var(--ff-main) var(--ff-secondary) var(--ff-base);
    --ff-main: 'Quicksand';
    --ff-secondary: Verdana;
    --ff-base: sans-serif;

    --clr-bg: var(--clr-white);
    --clr-main: var(--clr-black);
    --clr-white: #fff;
    --clr-black: #000;
    --clr-cyan: #1ed7c0;
    --clr-blue: #4b7def;
    --clr-magenta: #b04fbd;
    --clr-red: #bf476f;
}